#home {
    background-color: red;
    color: yellow;
}

body{
    margin:0;
    padding:0
    background-color: blue;
    color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    color: white;
    text-decoration: none;
}
header nav a{
    font-size: 24px;
}
a:hover{
    text-decoration: underline;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
li{
    list-style: none;
}
main img{
    width: 100vh;
}